

# Services
AUTH_HOST=localhost
AUTH_PORT=3001

SOCIAL_HOST=localhost
SOCIAL_PORT=3002

# Databases
AUTH_DB_USER=auth
AUTH_DB_PASS=authPass
AUTH_DB_HOST=localhost
AUTH_DB_PORT=3011
AUTH_DB_NAME=acct

SOCIAL_DB_USER=social
SOCIAL_DB_PASS=socialPass
SOCIAL_DB_HOST=localhost
SOCIAL_DB_PORT=3012
SOCIAL_DB_NAME=social
